
Name: @ViewBag.User.First_Name<br>
Balance :@ViewBag.User.Balance<br>
@model Transaction



@foreach(var transaction in ViewBag.User.Transactions )

{
    @transaction.Created_At  @transaction.Amount<br>
    

}
        <div class="forms" >

            <form asp-action="Transaction" asp-controller="Home" method="post">              
                <div class="row">

                <span asp-validation-for="Amount"></span>
                <input type="number" asp-for="Amount">
                <label asp-for="Amount"></label>
                </div>

                
                <div class="row">
                <input value="Deposit" type="submit">
                </div>
                @ViewBag.errors
                @TempData["error"]

              
            </form>
            <a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
    </div> 

