@{
    ViewData["Title"] = "UserDashboard";
}
@model ViewModel
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="Profile">Profile</a>
  <a class="nav-link" href="Logout">Logout</a>
</nav>

<H3>Admin Dashboard</H3>





<table class="table">

  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
      <th>User Level</th>
      <th>Actions</th>
    </tr>
  </thead>
    <tbody>
      

      @foreach(var user in @ViewBag.AllUsers)
      {
        <tr>
          <td>@user.Id</td>
          <td> <a class="nav-link" href="TheWall/@user.Id">@user.First_Name</a></td>
          <td>@user.Email</td>
          <td>@user.Created_At</td>


          @if(@user.UserLevel == 9){
            <td>Admin</td>
          }
          else{
            <td>Normal</td>
          }

          <td><a class="nav-link" href="Edit">Edit</a> <a class="nav-link" href="Remove">Remove</a></td>

        </tr>
      }
      
    </tbody>



</table>